
{% extends './base.html'%}

{% block titulo %} Listado de Personas {% endblock %}

{%block listado%}
<form>
    <p>
        <label for="sexo">Sexo:</label>
        <input type="text" name="nombre" maxlength="100" required="" id=""criterio_nombre">

    
</form>
<form action="{% url 'personas-create' %}"method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Guardar">
</form>
<ul>
    {% for persona in personas %}
        <li> {{persona}}</li>
    {% endfor %} 

</ul>
{% endblock %}

{% block title %} Total: {{total_personas}} {% endblock %}