    {% extends './base.html'%}
    {% block titulo %} Listado de Tareas {% endblock %}
    
    {%block listado%}
    <form>
        <p>
            <label for="nombre">Nombre Tarea que desea buscar:</label>
            <input type="text" name="nombre" maxlength="100" required="" id=""criterio_nombre">
    
        </p>
        <p>
            <input type="submit" value="Buscar">
        </p>
        
    </form>
    <form action="{% url 'tareas-create' %}"method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Guardar">
    </form>
    <ul>
        {% for tarea in tareas %}
        
            <li> {{tarea}}</li>
        {% endfor %} 
    
    </ul>
    {% endblock %}
    
    {% block title %} Total: {{total_tareas}} {% endblock %}